body{
    background-color: rgb(255, 232, 23);
}
.encabezado {
    display: block;
    padding: 10px;
    background-color: rgb(61, 61, 65);
    color: white;
    border-style: solid;
    border-color: black;
}
h1{
    font-size: 30px;
    text-align: center;
}
button{
    background: none;
    border: 0px;
    color: inherit;
}
.boton{
    color: rgb(255, 232, 23);
}
.btn_menu {
    color: white;
    padding: 15px;
    border-style: solid;
    border-radius: 20px;
    background-color: black;
    width: fit-content;
    font-size: 15px;
}
.btn_menu a{
    color: rgb(255 215 0);
    text-decoration: none;
}
.menu {
    width: 100%;
    display: flex;
    background-color: black;
}
ul.navigation {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: none;
    flex-direction: column;
}
ul.navigation.show {
        display: flex;
}
ul.navigation li {
    list-style: none;
    margin: 0px 0px;
    padding: 15px 20px;
}
ul.navigation li a {
    text-decoration: none;
    color: rgb(255 215 0);
}
ul.navigation li:hover {
    background-color: gray;
}
h1{ 
    font-size: 30px;
    text-align: center;
}
.contenedor{
    flex-direction: column;
    margin: 0px;
}
.bloques{
    padding: 15px;
    margin: 3px;
    border-style: solid;
    background-color: grey;
    text-align: center;
}
.titulos {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.textos{
    color: white;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo{
    display: block;
    padding: 10px;
    background-color: rgb(61, 61, 65);
    color: white;
    border-style: solid;
    border-color: black;
}

footer{
    background-color: white;
    border: solid;
    margin: 3px;
    text-align: center;
    
}

li{
    list-style: none;
}


@media only screen and (min-width: 660px) {

    body{
            background-color: gray;
        }
    .btn_menu {
            display: none;
        }

    header{
        background-color: grey;
        width: auto;
        height: 185px;
        margin: 3px;   
    }
    h1{ 
        color: white;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-size: 1cm;
    }
    button{
        background: none;
        border: 0;
        color: inherit;
    }
    .boton{
        border-style: solid;
        color: rgb(255, 232, 23);
        background-color: rgb(27, 27, 29);
    }
    ul.navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
  
    .contenedor{
        width: auto;
        padding: 15px;
        margin: 3px;
        margin-top: 6px;
        border-style: solid;
        background-color: rgb(61, 61, 65);
        display: flex;
        flex-direction: row;
    }
}